{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <form action="" method="POST">
            <div class="row">
                {% csrf_token %}
                {% include 'includes/alerts.html' %}
                <div class="card" style="margin: 10px;width:30%">
                    <div style="margin:10px;">

                        <h2>Mein Profil</h2>
                        <div class="form-group col-sm-6">
                            <label>Vorname</label>
                            {{profile_form.first_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nachname</label>
                            {{profile_form.last_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Telefonnummer</label>
                            {{profile_form.phone_number}}
                        </div>
                        <input type="submit" value="Speichern" class="btn btn-primary"></input>
                        <br>
                        <br>
                        <form action="{% url 'forgot_password' %}">
                            <button class="btn btn-outline-primary">Passwort ändern</button>
                        </form>

                    </div>
                </div>

                <div class="card" style="margin: 10px;width:30%">
                    <div style="margin:10px;">

                        <h2>PayPal</h2>
                        <div class="form-group col-sm-6">
                            <label>E-mail</label>
                            {{user_paypal_form.mail}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Passwort</label>
                            {{user_paypal_form.password}}
                        </div>


                        <h2>Kreditkarte</h2>
                        <div class="form-group col-sm-6">
                            <label>Vorname</label>
                            {{user_credit_card_form.owner_first_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nachname</label>
                            {{user_credit_card_form.owner_last_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Kartennummer</label>
                            {{user_credit_card_form.card_number}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Ablaufdatum MM/YY</label>
                            {{user_credit_card_form.expiration_date_month}}
                        </div>
                        <div class="form-group col-sm-6">
                            {{user_credit_card_form.expiration_date_year}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Sicherheitscode</label>
                            {{user_credit_card_form.security_code}}
                        </div>


                        <h2>Lastschrift</h2>
                        <div class="form-group col-sm-6">
                            <label>Vorname</label>
                            {{user_debit_form.debit_first_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nachname</label>
                            {{user_debit_form.debit_last_name}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>IBAN</label>
                            {{user_debit_form.iban}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>BIC</label>
                            {{user_debit_form.bic}}
                        </div>

                    </div>
                </div>

                <div class="card" style="margin: 10px;width:30%">
                    <div style="margin:10px;">

                        <h2>Lieferadresse</h2>
                        <div class="form-group col-sm-6">
                            <label>Straße</label>
                            {{user_delivery_address_form.delivery_street}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Hausnummer</label>
                            {{user_delivery_address_form.delivery_house_number}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Stadt</label>
                            {{user_delivery_address_form.delivery_city}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>PLZ</label>
                            {{user_delivery_address_form.delivery_plz}}
                        </div>


                        <h2>Rechnungsadresse</h2>
                        <div class="form-group col-sm-6">
                            <label>Straße</label>
                            {{user_payment_address_form.payment_street}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Hausnummer</label>
                            {{user_payment_address_form.payment_house_number}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Stadt</label>
                            {{user_payment_address_form.payment_city}}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>PLZ</label>
                            {{user_payment_address_form.payment_plz}}
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}