{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
<div class="container">
    <div class="row" >
            {% include 'includes/alerts.html' %}
        <div class="card" style="margin: 10px;width:30%" >
            <div style="margin:10px;">
                <h2>Mein Profil</h2>
                <p>Vorname:{{user.first_name}}</p>
                <p>Nachname:{{user.last_name}}</p>
                <p>Telefonnummer:{{user.phone_number}}</p>
                <br>
                <button class="btn btn-outline-primary" href="{% url 'forgot_password' %}">Passwort ändern</button>
            </div>
        </div>

        <div class="card" style="margin: 10px;width:30%">
            <div style="margin:10px;">

                <h2>Paypal</h2>
                <form action="/webshop/shop/views.py" >
                    {% for field in paypal_form %}
                    <div class="form-group col-sm-6">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>

                <h2>Kreditkarte</h2>
                <form action="/webshop/shop/views.py" >
                    {% for field in creditcard_form %}
                    <div class="form-group col-sm-6">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>

                <h2>Lastschrift</h2>
                <form action="/webshop/shop/views.py" >
                    {% for field in debitcard_form %}
                    <div class="form-group col-sm-6">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>

        </div>
        <div class="card" style="margin: 10px;width:30%">
            <div style="margin:10px;">

                <h2>Lieferaddresse</h2>
                <form action="/webshop/shop/views.py" >
                    {% for field in delivery_address_form %}
                    <div class="form-group col-sm-6">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>

                <h2>Rechnungsaddresse</h2>
                <form action="/webshop/shop/views.py" >
                    {% for field in billing_address_form %}
                    <div class="form-group col-sm-6">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
            </div>
        </div>

        </div>
    </div>
</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}