{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Allgemeine Geschäftsbedingungen</title>
{% endblock %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <h1 style="text-align: center;"> Allgemeine Geschäftsbedingungen </h1>

        <pre class="text-md" style="text-align: center" ;>
        
        
Allgemeine Geschäftsbedingungen der Enten Company GmbH

§ 1 Geltungsbereich und Anbieter 
(1) Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Verträge zwischen der Enten Company GmbH, vertreten durch den
Geschäftsführer Ente Entenmann, Entenstraße 42, 12345 Entenhausen, Deutschland (nachfolgend "Anbieter" genannt), und dem Kunden
(nachfolgend "K). Die Angebote im Online-Shop der Enten Company stellen kein verbindliches Angebot zum Abschluss eines Kaufvertrages
dar, sondern eine Aufforderung zur Abgabe einer Bestellung.
(2) Der Kunde gibt durch das Absenden der Bestellung ein verbindliches Angebot zum Abschluss eines Kaufvertrages ab. Der Anbieter wird
den Zugang der Bestellung unverzüglich per E-Mail bestätigen. Diese Bestellbestätigung stellt noch keine Annahme des Angebots dar.
(3) Der Vertrag kommt erst zustande, wenn der Anbieter die Bestellung des Kunden durch eine Auftragsbestätigung per E-Mail oder durch
Auslieferung der Ware annimmt.

§ 2 Vertragsschluss
(1) Die Angebote im Online-Shop der Enten Company stellen kein verbindliches Angebot zum Abschluss eines Kaufvertrages dar, sondern eine
Aufforderung zur Abgabe einer Bestellung.
(2) Der Kunde gibt durch das Absenden der Bestellung ein verbindliches Angebot zum Abschluss eines Kaufvertrages ab. Der Anbieter wird den
Zugang der Bestellung unverzüglich per E-Mail bestätigen. Diese Bestellbestätigung stellt noch keine Annahme des Angebots dar.
(3) Der Vertrag kommt erst zustande, wenn der Anbieter die Bestellung des Kunden durch eine Auftragsbestätigung per E-Mail oder durch Auslieferung
der Ware annimmt.

§ 3 Preise und Zahlungsbedingungen
(1) Alle Preise verstehen sich in Euro und enthalten die gesetzliche Mehrwertsteuer.
(2) Es gelten die zum Zeitpunkt der Bestellung im Online-Shop angegebenen Preise. Der Anbieter behält sich vor, Preise und Versandkosten jederzeit zu ändern.
(3) Der Kunde kann zwischen den folgenden Zahlungsarten wählen: Vorkasse per Banküberweisung, PayPal oder Kreditkarte.
(4) Die Zahlung des Kaufpreises ist unverzüglich nach Vertragsschluss fällig. Bei Zahlung per Vorkasse hat der Kunde den Kaufpreis innerhalb von 7 Tagen
auf das angegebene Konto zu überweisen.

§ 4 Lieferung und Versandkosten
(1) Die Lieferung erfolgt an die vom Kunden angegebene Lieferadresse.
(2) Die Versandkosten betragen innerhalb Deutschlands 4,90 Euro pro Bestellung. Ab einem Bestellwert von 50 Euro ist die Lieferung innerhalb Deutschlands kostenfrei.

§ 5 Widerrufsrecht
(1) Der Kunde hat das Recht, binnen 14 Tagen ohne Angabe von Gründen den Vertrag zu widerrufen.
(2) Zur Ausübung des Widerrufsrechts muss der Kunde dem Anbieter eine eindeutige Erklärung (z.B. per Brief, E-Mail oder Fax) über seinen Entschluss,
den Vertrag zu widerrufen, zukommen lassen.
(3) Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z.B. Gebrauchsvorteile) herauszugeben.
Der Kunde trägt die unmittelbaren Kosten der Rücksendung der Ware.

§ 6 Gewährleistung
(1) Der Anbieter gewährleistet, dass die gelieferte Ware frei von Mängeln ist und den vereinbarten Eigenschaften entspricht.
(2) Bei Mängeln der gelieferten Ware hat der Kunde ein Recht auf Nacherfüllung.
(3) Die Verjährungsfrist für Mängelansprüche beträgt 2 Jahre.

§ 7 Haftung
(1) Der Anbieter haftet bei Vorsatz und grober Fahrlässigkeit. Bei leichter Fahrlässigkeit haftet der Anbieter nur bei Verletzung wesentlicher Vertragspflichten.
Die Haftung ist in diesem Fall auf den vertragstypischen, vorhersehbaren Schaden begrenzt.
(2) Die Haftung nach dem Produkthaftungsgesetz bleibt unberührt.
(3) Eine Haftung für indirekte Schäden, insbesondere entgangenen Gewinn, ist ausgeschlossen.
(4) Die vorstehenden Haftungsbeschränkungen gelten auch zugunsten der Mitarbeiter, Vertreter und Erfüllungsgehilfen des Anbieters.

§ 8 Eigentumsvorbehalt
(1) Die gelieferte Ware bleibt bis zur vollständigen Zahlung des Kaufpreises Eigentum des Anbieters.

§ 9 Datenschutz
(1) Der Anbieter erhebt, verarbeitet und nutzt personenbezogene Daten des Kunden zur Abwicklung der Bestellung und Erfüllung des Vertrages.
(2) Der Anbieter gibt personenbezogene Daten des Kunden nur an Dritte weiter, soweit dies zur Abwicklung der Bestellung erforderlich ist (z.B. an das mit der Lieferung
beauftragte Versandunternehmen).
(3) Der Kunde hat jederzeit ein Recht auf Auskunft, Berichtigung, Sperrung und Löschung seiner gespeicherten Daten.

§ 10 Schlussbestimmungen
(1) Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts.
(2) Erfüllungsort und Gerichtsstand für alle Streitigkeiten aus dem Vertragsverhältnis ist der Sitz des Anbieters.
(3) Sollte eine Bestimmung dieser AGB unwirksam sein oder werden, so berührt dies die Wirksamkeit der übrigen Bestimmungen nicht. Anstelle der unwirksamen Bestimmung gilt eine
wirksame Bestimmung als vereinbart, die dem wirtschaftlichen Zweck der unwirksamen Bestimmung am nächsten kommt. Gleiches gilt im Falle einer Regelungslücke.

        
        </pre>

       
    </div>
</section>

{% endblock %}