{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Produkt</th>
  <th scope="col" width="120">Menge</th>
  <th scope="col" width="120">Preis</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
{% for product in cart_list %}
	<tr>
		<td>
			<figure class="itemside align-items-center">
				<div class="aside"><img src="./images/items/11.jpg" class="img-sm"></div>
				<figcaption class="info">
					<a href="#" class="title text-dark">{{ product.product_name }}</a>
				</figcaption>
			</figure>
		</td>
		<td> 
			<!-- col.// -->
						<div class="col"> 
							<div class="input-group input-spinner">
								<div class="input-group-prepend">
								<button class="btn btn-light" type="button" id="button-plus" value="{{product.product_name}}" onclick="minus(self.value);"> <i class="fa fa-minus"></i> </button>
								</div>
								<input type="text" class="form-control"  value="1" id="{{product.product_name}}">
								<div class="input-group-append">
								<button class="btn btn-light" type="button" id="button-minus" value="{{product.product_name}}" onclick="plus(self.value)"> <i class="fa fa-plus"></i> </button>
								</div>
							</div> <!-- input-group.// -->
						</div> <!-- col.// -->
		</td>
		<td> 
			<div class="price-wrap"> 
				<var class="price">{{ product.price_total }}</var> 
				<small class="text-muted"> je {{ product.price }} </small> 
			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right"> 
		<a href="" class="btn btn-danger"> Remove</a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Gesamtpreis:</dt>
			  <dd class="text-right">{{ total_price }}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>inkl. MwSt</dt>
			</dl>
			<hr>
			<!-- TODO urls -->
			<a href="" class="btn btn-primary btn-block"> Checkout </a>
			<a href="" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>



{% endblock %}