{% extends 'base.html' %}
{% load static %}

<title> Checkout </title>


{% block content %}

    <div class="container" style="display: flex; flex-direction: row;">
        <div class="text">
            <h1>Test Checkout</h1>
            <pre>Sehr geehrter Kunde,

vielen Dank für Ihre Bestellung bei der Enten Company! Wir freuen uns, dass Sie sich für unsere Produkte entschieden haben
und sind uns sicher, dass Sie mit Ihrer Bestellung zufrieden sein werden.

Ihre Bestellung wird von unserem Team sorgfältig verpackt und an Sie verschickt. Wir bemühen uns, den Versand so schnell
wie möglich abzuwickeln, damit Sie Ihre Produkte bald in den Händen halten können.

Falls Sie während des Versands oder bei der Lieferung Fragen haben, können Sie sich jederzeit an unseren Kundenservice wenden.

Wir stehen Ihnen gerne zur Verfügung und helfen Ihnen weiter.

Nochmals vielen Dank für Ihre Bestellung bei der Enten Company. Wir hoffen, dass Sie in Zukunft erneut bei uns einkaufen werden.

Mit freundlichen Grüßen,
Das Team der Enten Company
             </pre>
        </div>
        <aside style="flex-basis:50%; text-align: center;">
            <img src={% static '/images/checkout.png' %}>
        </aside>
    </div>

    <section class="section-name padding-y-sm">
        <div class="container">
            <header class="section-heading">
                <h3 class="section-title">Unsere Empfehlung </h3>
                <small>Das sind die Lieblingsprodukte des Shop-Teams. Sie bestechen durch einzigartigen Charakter und Charme.</small>
                <hr>
            </header><!-- sect-heading -->
            <div class="row">
                {% for product in bestseller %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href={% url 'details' product.Product_ID %} class="img-wrap"> <img src={% static product.product_image_path %}> </a>
                        <figcaption class="info-wrap">
                            <a href={% url 'details' product.Product_ID %} class="title">{{ product.product_name }}</a>
                            <div class="price mt-1">{{ product.price|floatformat:2 }}€</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->
            <!--evtl Text über unsere tollen Bestseller-->
            </div>
    </section>
    <!-- ========================= SECTION  END// ========================= -->

    {% endblock %}