{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>
{{ product.product_name }}
</title>
{% endblock %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src={% static product.product_image_path %}></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{ product.product_name }}</h2>
    
    <div class="mb-3"> 
        <var class="price h4">{{ product.price|floatformat:2 }}€</var> 
    </div> 
    
    <p>{{ product.product_description }}</p>


    <br>
        <div class="grid" style="display: grid; grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr; grid-column-gap: px; grid-row-gap: 20px;width: 120px;">
            <div class="grid-row" style="grid-area: 1 / 1 / 2 / 2;">
                {% if user.id is None %}
                <a href={% url 'login' %} class="btn btn-light" type="text" id="button-like">
                        <p style="color: #2de7de;" id="button-like-text">&#9825; {{likes}}</p>
                </a>
                {% else %}
                    <form name="Change_Amount_Form" method='POST' action={% url 'like' pk=product.Product_ID %} style="grid-row: auto;">
                        {%csrf_token %}
                            <button class="btn btn-light" type="submit" id="button-like" onclick="reload">
                                {% if is_liked %}
                                    <p style="color: #2de7de;" id="button-like-text">&#9829; {{likes}}</p>
                                {% else %}
                                    <p style="color: #2de7de;" id="button-like-text">&#9825; {{likes}}</p>
                                {% endif %}
                            </button>
                    </form>
                {% endif %}
            </div>
            <!--<div class="grid-row" style ="grid-area: 1 / 2 / 2 / 3;">
                <div class="btn btn-light">
                    <p style="color: #2de7de;font-size: x-large;" id="button-like-likes">{{likes}}</p>
                </div>
            </div>-->
        </div>
        <p>Gefällt dir unser Produkt?</p>

    <div class="mb-3" style="float: right;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form name = 'Change_Amount_Form' method = 'POST', action = {% url 'add_to_cart' product.Product_ID %}>
			{% csrf_token %}
            <!-- col.// -->
            <div class="col"> 
                <div class="input-group input-spinner">
                    <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus" onclick="minus('quantity');"> <i class="fa fa-minus"></i> </button>
                    </div>
                    <input name = 'change_article_amount' type="text" id="quantity" class="form-control"  value="1">
                    <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus" onclick="plus('quantity');"> <i class="fa fa-plus"></i> </button>
                    </div>
                </div> <!-- input-group.// -->
                <button type = 'submit' class="btn  btn-primary"> 
                    <span class="text">In den Warenkorb</span> <i class="fas fa-shopping-cart"></i></button>  
                </a>
            </div> <!-- col.// -->
        </form> <!-- search-wrap .end// -->
    </div>


    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    

{% endblock %}